@media (max-width:900px) {
    .header .subheader .text{display: none;}
    .webmag .news .web_img{border: none;}
    .webmag .news .text_hover{display: none;}
    .webmag .seaech{border-bottom: none;}
    .fifty{grid-template-columns: 1fr;}
    .row{grid-template-columns: 1fr; grid-gap: 20px; grid-template-rows:500px 500px ;}
    .ask_main{grid-template-columns: 1fr;}
    .ask_main .ask .part{grid-template-columns: 1fr;}
    .ask_main .four_part .vg .Posts_side .post_side_sample{margin:50px 270px;}
    .Featured .h1_tag{grid-template-columns: 1fr; grid-template-rows: 600px;}
    .Most_Read{grid-template-columns: 1fr;}
    .load_button{ grid-template-rows:900px;}
    .load_button .fj_button{text-align: center;}
    .Catagories .Catagories_text{margin: 0px 230px;}
    .last{grid-template-columns: 1fr;}
    .last .about_mag{text-align: left;}
    .last .our{text-align: left;}
    .last .Newsletter{text-align: left;}
    .Most_Read{}
    .ask_main .four_part .vg .Posts_side .post_side_img .contan.xyz{position: absolute;
        top: 85%;
        left: 0;}
    .ask_main .four_part .vg .Posts_side .post_side_img .contan{
            position: absolute;
            top: 60%;
            left: 0;
        }
}