*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x:hidden ;
}
/* 1.start */
.header{
    background:black;
    display: grid;
    grid-template-columns: 7fr 3fr;
    /* grid-template-rows: 60px; */
}
.header .subheader{
    /* background: pink; */
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    /* place-items: center; */
    /* grid-template-rows: 50px; */
}
.header .subheader .img{ 
    text-align: center;
    padding-top:10px;
    border-right: 1px solid gray;
}
.header .subheader .text{
    font-size: 18px;
    color: white;
    margin: 20px auto;
    /* background: lawngreen; */
}
.header .subheader .text span{
    /* text-align: center; */
}
.header .icon{
    border-left:1px solid gray;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    /* place-items: center; */
    border-left: 1px solid gray;
}   
.header .icon .icon_bar{
    border-left: 1px solid gray;
    color: gray;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
.header .icon .icon_bar .bag{
    color: white;
}
.header .icon .icon_bar.red{
    background: lightgreen;
}
.header .icon .icon_bar.red:hover{
    background: black;
}
.header .icon .icon_bar:hover{
    color: white;
}
/* 1.end */
/* 2.start */
.webmag{
    /* background:lightcoral; */
    display: grid;
    grid-template-columns: 8fr 2fr;
    /* grid-template-rows: 70px; */
    border-bottom: 2px solid gray;
}
.webmag .news{
    /* background: lightblue; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* border: 2px solid red; */
}
.webmag .news .web_img{
    padding: 30px 15px 0px 90px;
    /* background: tan; */
    /* border-bottom: 1px solid gray; */
    border-right: 1px solid gray;
}
.webmag .news .web_img img{
    /* height: 100%;
    width: 100%; */
}
.webmag .news .text_hover{
    text-align: center;
    /* line-height: 70px; */
    /* background: yellow; */
    padding:25px 0 ;
    font-size: 17px;
    transition: 0.2s;
    border-right: 1px solid gray;
    /* border-bottom: 1px solid gray; */
}
.webmag .news .text_hover.green{
    border-bottom:5px solid green;
}
.webmag .news .text_hover.green:hover{
    color:green ;
}
.webmag .news .text_hover.orange{
    border-bottom:5px solid orange ;
}
.webmag .news .text_hover.orange:hover{
    color:orange ;
}
.webmag .news .text_hover.blue{
    border-bottom:5px solid blue ;
}
.webmag .news .text_hover.blue:hover{
    color:blue ;
}
.webmag .news .text_hover.purple{
    border-bottom:5px solid purple;
}
.webmag .news .text_hover.purple:hover{
    color:purple ;
}
.webmag .seaech{
    text-align: center;
    /* line-height: 70px; */
    padding: 25px 0;
    border-bottom:1px solid gray;
}
.webmag .seaech i{
    margin: 2px auto;
    padding-left: 40px;
    /* place-items: center; */
}
.fifty{
    /* background:lightcoral; */
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* grid-template-rows: 280px 280px; */
    grid-gap: 25px;
    padding: 50px 60px;
}
.fifty .javascript{
    position: relative;
    opacity: 1;
}
.fifty .javascript:hover{
    opacity: 0.9;
}
.fifty .javascript .contan{
    position: absolute;
    top: 50%;
    left: 0;
}
.fifty .javascript .contan button{
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none;
    background: orange;
    margin-right: 10px;
    margin-left: 24px;
}
.fifty .javascript .contan span{
    font-size: 13px;
    color: white;
}
.fifty .javascript .contan p{
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 10px 20px;
}
.fifty .javascript .contan p:hover{
    text-decoration: underline;
}
.fifty .javascript.jquery button{
    margin-top: 60px;
    background: blueviolet;
}
.post
{
    /* background: gray; */
    padding:50px;
}
.post h1{
    padding-bottom: 30px;
}
.row
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 300px 300px; */
    grid-gap: 30px;
    opacity: 1;
}
.row .col img:hover{
    opacity: 0.9;
}
.row .col .col_text button{
    border-radius: 3px;
    color: white;
    padding: 3px 5px;
    border: none;
    background: orange;
    margin-right: 10px;
}
.row .col .col_text p{
    font-size: 18px;
    font-weight:500;
    margin: 10px 10px;
}
.row .col .col_text p:hover{
    text-decoration: underline;
}
.row .col .col_text.green button{
    background: rgb(72, 230, 72);
}
.row .col .col_text.orange button{
    background: orange;
}
.row .col .col_text.blueviolet button{
    background: blueviolet;
}
.row .col .col_text.blue button{
    background: blue;
}


.ask_main{
    /* background: lightcoral; */
    display: grid;
    grid-template-columns: 7fr 3fr;
    /* grid-template-rows: 900px; */
}
.ask_main .ask{ 
    /* background: darkblue; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 400px; */
    opacity: 1;
}
.ask_main .ask .hundred:hover{
    opacity: 0.9;
}
.ask_main .ask .hundred{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 400px; */
    /* background: red; */
    /* border: 2px solid black; */
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
}
.ask_main .ask .hundred .hundred_contan{
    position: absolute;
    top: 78%;
    left: 0;
}
.ask_main .ask .hundred .hundred_contan button{
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none;
    background: blue;
    margin-right: 10px;
    margin-left: 24px;
}
.ask_main .ask .hundred .hundred_contan span{
    font-size: 13px;
    color: white;
}
.ask_main .ask .hundred .hundred_contan p{
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin: 10px 20px;
}
.ask_main .ask .hundred .hundred_contan p:hover{
    text-decoration: underline;
}
.ask_main .ask .part{
    display: grid;
    /* background: gold; */
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows:300px; */
}
.ask_main .ask .part .six_part{
    display: grid;
    grid-template-columns:1fr;
    /* grid-template-rows: 200px; */
    /* border: 2px solid black; */
    /* background: tan; */
    margin-right: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    /* grid-gap: 20px; */
}
.ask_main .ask .part .six_part:hover{
    opacity: 0.9;
}
.ask_main .ask .part .six_part .col_text button{
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none;
    background: blue;
    margin-right: 10px;
    /* margin-top: 10px; */
}
.ask_main .ask .part .six_part .col_text.green button{
    background:rgb(72, 230, 72);
}
.ask_main .ask .part .six_part .col_text.orange button{
    background:orange;
}
.ask_main .ask .part .six_part .col_text.blueviolet button{
    background:blueviolet;
}
.ask_main .ask .part .six_part .col_text p{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
}
.ask_main .ask .part .six_part .col_text p:hover{
    text-decoration: underline;
}


.ask_main .four_part{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 50px; */
    /* background: lime; */
}
.ask_main .four_part .vg{
   display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 50px; */
    /* margin-left: 10px; */
    opacity: 1;
}
.ask_main .four_part .vg h1{
    margin-left: 10px;
    margin-top: 20px;
}
.ask_main .four_part .vg .div_four{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 3fr 7fr;
    /* grid-template-rows: 100px; */
    margin-top: 20px;
    margin-right: 50px;
}
.ask_main .four_part .vg .div_four .div_four_img{
    margin-left: 10px;
}
.ask_main .four_part .vg .div_four .div_four_img:hover{
    opacity: 0.9;
}
.ask_main .four_part .vg .div_four .div_four_text{
    font-size: 18px;
    margin-left: 10px;
}
.ask_main .four_part .vg .div_four .div_four_text:hover{
    text-decoration: underline;
}
.ask_main .four_part .vg .Posts_side{
    /* background: red; */
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 50px;
    margin-left: 10px;
    /* grid-gap: 20px; */
    /* grid-template-rows: 700px; */
    /* border: 2px solid black; */
    opacity: 1;
}
.ask_main .four_part .vg .Posts_side .post_side_img{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 200px; */
    /* border: 2px solid black; */
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}
.ask_main .four_part .vg .Posts_side .post_side_img:hover{
    opacity: 0.9;
}
.ask_main .four_part .vg .Posts_side .post_side_img .contan.xyz{
    position: absolute;
    top: 40%;
    left: 0;
}
.ask_main .four_part .vg .Posts_side .post_side_img .contan{
    position: absolute;
    top: 10%;
    left: 0;
}
.ask_main .four_part .vg .Posts_side .post_side_img .contan button{
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none;
    background: blue;
    margin-right: 10px;
    margin-top: 10px;
}
.ask_main .four_part .vg .Posts_side .post_side_img .contan.orange button{
    background: orange;
}
.ask_main .four_part .vg .Posts_side .post_side_img .contan  span{
    color: white;
}
.ask_main .four_part .vg .Posts_side .post_side_img .contan p{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
    color: white;
}
.ask_main .four_part .vg .Posts_side .post_side_img .contan p:hover{
    text-decoration: underline;
}
.ask_main .four_part .vg .Posts_side .post_side_sample{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 200px; */
    border: 1px solid gray;
    margin-top: 50px;
    background: rgb(227, 214, 214);
}
.ask_main .four_part .vg .Posts_side .post_side_sample span{
    font-size: 25px;
    text-align: center;
    padding: 50px;
}


.Featured{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.Featured h2{
    text-align: center;
    margin-top: 40px;
}
.Featured .h1_tag{
    /* background: lightsalmon; */
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 350px;
    padding: 40px 50px ;
    grid-gap: 20px;
    opacity: 1;
}
.Featured .h1_tag .three_part:hover{
    opacity: 0.9;
}
.Featured .h1_tag .three_part .three_text button{
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none;
    background: blue;
    margin-right: 10px;
    margin-top: 10px;
}
.Featured .h1_tag .three_part .three_text.blueviolet button{
    background: blueviolet;
}
.Featured .h1_tag .three_part .three_text.green button{
    background: rgb(100, 177, 100);
}
.Featured .h1_tag .three_part .three_text p{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
}
.Featured .h1_tag .three_part .three_text p:hover{
    text-decoration: underline;
}




.Most_Read{
    /* background: chocolate; */
    display: grid;
    grid-template-columns: 7fr 3fr;
    /* grid-template-rows: 900px; */
}
.Most_Read .xd{
    /* border: 2px solid black; */
    /* background: rebeccapurple; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 300px; */
    margin-left:50px ;
    /* padding-top: 20px; */
}
.Most_Read .xd h2{
    padding: 40px 0 40px 0;
}
.Most_Read .xd .five_part{
    /* border: 2px solid black;  */
    display: grid;
    grid-template-columns: 3fr 7fr; 
    /* grid-template-rows: 200px; */
    opacity: 1;
}
.Most_Read .xd .five_part .sd:hover{
    opacity: 0.9;
}
.Most_Read .xd .five_part{
    padding: 20px 0 20px 0;
}
.Most_Read .xd .fj .fj_button{
    /* background: tomato; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 100px; */
    padding: 30px 150px;
}
.Most_Read .xd .fj .fj_button button{
    height: 40px;
    width: 190px;
    background: black;
    color: white;
    padding: 7px 40px;
}
.Most_Read .xd .five_part .three_text{
    margin-left: 30px;
    margin-right: 70px;
}
.Most_Read .xd .five_part .three_text button{
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none;
    background: orange;
    margin-right: 10px;
    margin-top: 10px;
}
.Most_Read .xd .five_part .three_text.blue button{
    background: rgb(148, 148, 239);
}
.Most_Read .xd .five_part .three_text.blueviolet button{
    background: blueviolet;
}
.Most_Read .xd .five_part .three_text p{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
}
.Most_Read .xd .five_part .three_text p:hover{
    text-decoration: underline;
}
.load_button{
    height: 200px;
    /* background: red;             */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 700px; */
}
.load_button .fj_button{
    padding: 70px 200px;
}
.load_button .fj_button button{
    background: black;
    color: white;
    padding: 10px 50px;
}





.Catagories{
    /* background: tan; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:250px 250px 250px;
    margin-top: 40px;
    margin-right: 50px;
}
.Catagories .Catagories_text{
    height: 250px;
    width: 250px;
    padding-top: 100px;
    text-align: center;
    border: 1px solid gray;
    background: rgb(227, 216, 216);
}
.Catagories .Catagories_text span{
    font-size: 27px;
}
.Catagories .Catagories_text p{
    font-size: 23px;
}
.Catagories .Catagories_gb{
    /* background: yellow; */
}
.Catagories .Catagories_gb h1{
    margin: 20px 0;
}
.Catagories .Catagories_gb .four_fu{
    border-bottom: 1px solid gray;
    /* background: lightgreen; */
    padding: 12px 0;
    display: grid;
    grid-template-columns: 9fr 1fr;
    /* background: pink; */
}
.Catagories .Catagories_gb .four_fu button{
    text-align: right;
    font-size: 16px;
    color: white;
    border: none;
    background: green;
    border-radius: 2px;
    padding: 2px 4px;
    /* text-align: right; */
}
.Catagories .Catagories_gb .four_fu .orange_span:hover{
    color: orange;
}
.Catagories .Catagories_gb .four_fu .green_span:hover{
    color: green;
}
.Catagories .Catagories_gb .four_fu .blue_span:hover{
    color:blue;
}
.Catagories .Catagories_gb .four_fu .blueviolet_span:hover{
    color: blueviolet;
}
.Catagories .Catagories_gb .four_fu .orange{
    background: orange;
}
.Catagories .Catagories_gb .four_fu .blue{
    background: blue;
}
.Catagories .Catagories_gb .four_fu .blueviolet{
    background: blueviolet;
}
.Catagories .button{
    /* background: blue; */
    padding: 20px;
}
.Catagories .button button{
    font-size: 15px;
    padding: 3px;
    margin: 5px ;
    border-radius: 3px;
    background: black;
    color: white;
}




.last{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 3fr;
    grid-template-rows: 300px;
    /* background: lightcyan; */
    border-top: 1px solid gray;
    padding: 0 50px;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
}
.last .mag_img{
    color: rgb(218, 206, 206);
}
.last .mag_img .dk:hover{
    color: black;
    cursor: pointer;
}
.last .mag_img .dl:hover{
    color: black;
    cursor: pointer;
}
.last .mag_img .mag_img_logo{
  padding: 50px 30px;
}
.last .mag_img span{
    padding-left:30px;
}
.last .mag_img p{
    padding:30px 20px;
}
.last .about_mag{
    /* background: hotpink; */
    text-align: center;
}
.last .about_mag h3{
    padding: 50px 0;
}
.last .about_mag li{
    list-style: none;
    padding-bottom: 15px;
    color: rgb(218, 206, 206);
}
.last .about_mag li:hover{
    color: black;
    cursor: pointer;
}
.last .our{
    /* background: indianred; */
    text-align: center;
}
.last .our h3{
    padding: 50px 0;
}
.last .our li{
    list-style: none;
    padding-bottom: 15px;
    color: rgb(218, 206, 206);
}
.last .our li:hover{
    color: black;
    cursor: pointer;
}
.last .Newsletter{
    /* background: yellow; */
    text-align: center;
}
.last .Newsletter h3{
    padding: 50px 0 ;
}
.last .Newsletter input{
    padding: 10px;
}
.last .Newsletter .last_icon{
    padding: 20px;
    /* background: red; */
}
.last .Newsletter .last_icon i{
    background: gray;
    padding: 5px;
    border-radius: 2px;
    color: white;
}

